.apps
  margin-bottom: 20px

  &__list
    margin-top: 10px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

  &__el
    width: 33%
    margin-bottom: 16px

    +m(768)
      width: 50%

  &.is-medium

    .apps__el
      width: 25%

    .app
      display: flex
      flex-direction: column

      &__name
        margin-top: 8px
        font-size: 13px
        text-align: center

      &__icon
        width: 80px
        height: 80px

        img
          max-height: 80px
          max-width: 80px

  &.is-16per
    .apps__el
      width: 16%
      +m(768)
        width: 20%
      +m(480)
        width: 25%

  &.is-20per
    .apps__el
      width: 20%
      margin-bottom: 20px
      +m(1024)
        width: 25%
      +m(768)
        width: 33%

  &.is-small
    margin-top: 22px
    margin-bottom: 0

    .apps__el
      margin-bottom: 15px
      +m(768)
        width: 33%

    .app
      display: flex
      flex-direction: column

      &__name
        margin-top: 4px
        font-size: 13px
        text-align: center