.apps
  margin-bottom: 40px

  &.is-medium
    .apps__el
      width: 25%
    .app__icon
      width: 80px
      height: 80px

      img
        max-height: 80px
        max-width: 80px

  &.is-16per
    .apps__el
      width: 16%

  &__list
    margin-top: 10px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

  &__el
    width: 33%
    margin-bottom: 16px

  &.is-small
    margin-top: 22px
    margin-bottom: 0

    .apps__el
      margin-bottom: 15px

    .app
      display: flex
      flex-direction: column

      &__name
        margin-top: 4px
        font-size: 13px
        text-align: center