.apps
  margin-bottom: 40px

  &.is-medium
    .apps__el
      width: 25%
    .app__icon
      width: 80px
      height: 80px

      img
        max-height: 80px
        max-width: 80px

  &.is-16per
    .apps__el
      width: 16%

  &__top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding-bottom: 8px
    border-bottom: 1px solid $border

  &__list
    margin-top: 10px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

  &__el
    width: 30%
    margin-bottom: 16px

  &__link,
  &__more
    color: $text

  &.is-small
    .app
      display: flex
      flex-direction: column

      &__name
        font-size: 13px
        text-align: center