.best-post

  &__list
    display: flex
    flex-direction: column

  &__el
    overflow: hidden
    padding: 12px 0 15px
    border-bottom: 1px solid $border
    transition: all .25s ease

    &:hover
      padding-left: 10px
      background-color: #fafafa