.btn
  flex-direction: row
  text-align: center
  display: inline-flex
  justify-content: center
  padding: 0 26px
  height: 35px
  line-height: 35px
  min-width: 120px
  font-size: 15px
  color: #fff
  background-color: $btnGreen
  border: 1px solid $btnGreen
  white-space: nowrap
  transition: all .3s ease-in-out
  cursor: pointer
  overflow: hidden
  box-sizing: border-box
  +semibold

  &:hover,
  &:focus
    text-decoration: none
    background-color: $btnGreenHover
    border-color: $btnGreenHover

  &.is-large
    padding: 0
    display: flex
    align-items: center
    width: 334px
    height: 62px
    line-height: 62px
    box-sizing: border-box

    .btn__text
      margin-left: 25px
      font-size: 26px

  &.is-small
    padding: 0
    width: 96px
    height: 28px
    font-size: 13px
    line-height: 26px
    min-width: 96px
    box-sizing: border-box

  &.is-search
    padding: 0 10px
    display: block
    text-align: center
    width: 136px
    height: 50px
    line-height: 50px
    font-size: 18px
    border-radius: 0
    border: none
    text-transform: uppercase
    +semibold

    &:hover
      background-color: $btnGreenHover

    &:focus
      outline: none

  &.is-blue
    background-color: #46a7bb
    border-color: #46a7bb

    &:hover
      background-color: #45b2c9
      border-color: #45b2c9

  &.is-download
    display: inline-flex
    align-items: center
    justify-content: center

    &:hover
      background-color: #85cb18

    .btn__text
      margin-left: 20px

  &.is-transparent
    background-color: transparent

    &.is-green
      color: $btnGreen

    &.is-blue
      border-color: #0288d1
      color: #0288d1

      &:hover
        background-color: transparent

    &.is-grey
      border-color: #757575
      color: #424242

      .icon
        color: #000000

  &.is-fz-16
    font-size: 16px

  &.mobile-search
    background-color: transparent
    border: none
    padding: 0
    width: auto
    min-width: 40px

.btn-google
  width: 120px
  height: 35px


