.captcha
  margin-top: 11px
  margin-bottom: 20px
  padding-bottom: 10px
  border-bottom: 1px solid $border

  .block-header
    width: 100%

  &__bottom
    padding: 16px 0
    display: flex
    flex-direction: row
    align-items: center
    flex-wrap: wrap
    border-bottom: 1px solid $border
    background: url('../img/ico_arrow_down_right.png') right bottom no-repeat
    +m(768)
      flex-direction: column

  &__product-icon
    margin-right: 30px
    width: 64px
    height: 64px

  &__form
    display: flex
    position: relative
    +m(768)
      flex-direction: column
      align-items: center
      margin-top: 20px
      margin-bottom: 50px
      width: 100%

    .btn
      +m(768)
        width: 100%

  &__link
    line-height: 0

  &__input
    margin: 0 16px
    padding: 0 10px
    width: 120px
    height: 35px
    line-height: 35px
    font-size: 15px
    border: 1px solid #cccccc
    box-sizing: border-box
    +regular

    +m(768)
      width: 100%
      margin: 10px 0

  &__error-text
    position: absolute
    left: 0
    top: -22px
    color: #c00
    font-weight: bold
    +m(768)
      position: relative
      top: auto
      left: auto
      margin-bottom: 10px

  &__success
    .captcha__bottom
      flex-direction: row


  //.download
  //  margin-bottom: 0