.collection
  padding-right: 20px
  display: flex
  flex-direction: row

  &__left
    margin-right: 20px

  &__link
    display: inline-flex

  &__img
    display: inline-flex
    max-width: 260px
    height: 175px

  &__title
    margin-bottom: 15px
    display: flex
    font-size: 18px
    color: $text
    +semibold

    &:hover
      text-decoration: underline

  &__descr
    color: #919191