//write here your sass
//+font(roboto-light, roboto-light)
//+font(roboto-regular, roboto-regular)
//+font(roboto-bold, roboto-bold)

+font(jello-icons, jello-icons)

=regular
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  font-weight: 400

=semibold
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  font-weight: 600

$text: #37474f
$textGrey: #919090
$link: #0288d1
$border: #d9dadb
$btnGreen: #7cc110
$btnGreenHover: #85cb18

body
  display: flex
  flex-direction: column
  min-width: 1050px
  font-size: 13px
  line-height: 1.4
  color: $text
  +regular

h1
  font-size: 46px
  color: $text
  +semibold

  &.is-fz-32
    font-size: 32px
    line-height: 1.2

h2
  font-size: 26px
  +semibold

h3
  font-size: 18px
  letter-spacing: -.5px
  color: $text
  +semibold

a
  color: $link
  display: inline-block
  text-decoration: none
  cursor: pointer
  transition: all .3s ease-in-out

  &:active,
  &:focus,
  &:visited
    text-decoration: none

img
  display: inline-flex
  max-width: 100%
  height: auto

.i-ml-20
  margin-left: 20px

.i-mb-10
  margin-bottom: 10px

.banner
  margin-bottom: 20px

.logo
  display: inline-block

  &__img
    width: 120px
    display: flex

.info
  &__text
    margin-bottom: 18px

.product
  &__logo
    margin-bottom: 10px

.warning
  margin: 10px 0
  color: #c00
  font-size: 15px