//write here your sass
//+font(roboto-light, roboto-light)
//+font(roboto-regular, roboto-regular)
//+font(roboto-bold, roboto-bold)

+font-icon(jello-icons, jello-icons)

=regular
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  font-weight: 400

=semibold
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  font-weight: 600

$text: #37474f
$textGrey: #919090
$link: #0288d1
$border: #d9dadb
$btnGreen: #7cc110
$btnGreenHover: #85cb18
$transition: all .3s ease-in-out

body
  display: flex
  flex-direction: column
  font-size: 13px
  line-height: 1.4
  color: $text
  min-width: 320px
  +regular

h1
  font-size: 46px
  color: $text
  +semibold

  &.is-fz-32
    font-size: 32px
    line-height: 1.2
    letter-spacing: -.6px

    +m(1024)
      font-size: 28px

    +m(768)
      font-size: 24px

h2
  font-size: 26px
  +semibold

h3
  font-size: 18px
  color: $text
  +semibold

a
  color: $link
  display: inline-block
  text-decoration: none
  cursor: pointer
  transition: all .3s ease-in-out

  &:active,
  &:focus,
  &:visited
    text-decoration: none

img
  display: inline-block
  max-width: 100%
  height: auto

.banner
  margin-bottom: 10px
  &__link
    display: block

.logo
  display: inline-block
  line-height: 0

  &__img
    width: 120px
    display: flex

.info
  &__text
    margin-bottom: 18px

.product
  &__logo
    position: relative
    width: 100%
    min-height: 200px
    margin-bottom: 10px
    background-size: cover
    background-position: center center

.warning
  margin: 10px 0
  color: #c00
  font-size: 15px

.header-main
  .search__form
    border: none