.content
  padding-top: 34px
  padding-bottom: 50px

  &__wrap
    display: flex
    flex-direction: row
    justify-content: space-between

  &__left
    width: 71%
    margin-right: 20px

  &__right
    width: 29%

  &__top
    margin-bottom: 15px

  &__title
    position: relative
    letter-spacing: -.6px

    &.is-paid
      &::after
        position: absolute
        content: ''
        top: 0
        right: 0
        background-image: url('../img/ico_badge.png')
        background-size: cover
        width: 40px
        height: 40px

  &__head
    display: flex
    align-items: center

    .icon
      width: 40px
      height: 40px
      font-size: 32px
      margin-right: 15px

  &.is-inner-8
    .block-header
      padding-bottom: 3px

  &.is-inner-9
    padding-top: 20px

  &.is-inner-12
    .content__top
      margin-bottom: 7px

    .information__title
      letter-spacing: -.4px

    .information__text
      margin-top: 7px
      margin-bottom: 0
