.download
  margin: 10px 0 40px
  display: flex
  align-items: center
  +m(480)
    margin: 10px 0 30px

  &__left
    margin-right: 30px
    max-width: 64px
    height: 64px

  &__right
    display: flex
    align-items: center
    +m(480)
      flex-direction: column
      width: 100%

  &__img
    max-width: 64px

  .btn
    margin-right: 15px
    +m(480)
      width: 100%
      margin-right: 0
      margin-bottom: 10px