.error
  position: relative
  margin: 54px auto 100px
  box-sizing: border-box
  text-align: center

  &__name
    font-size: 100px
    +semibold

    +m(768)
      font-size: 80px

  &__descr
    margin-bottom: 30px
    font-size: 16px