.error
  position: relative
  //margin: 30px auto 100px
  padding-top: 110px
  //height: 380px
  //width: 480px
  //background: url('../img/gears.png') no-repeat
  box-sizing: border-box
  text-align: center

  &__name
    font-size: 100px
    //line-height: .8
    margin-bottom: 30px
    +semibold

  &__descr
    margin-bottom: 30px
    font-size: 16px

.btn-green
  width: 130px
  height: 35px
  line-height: 35px
  text-align: center
  color: #FFF
  background-color: #7cc110
  font-size: 15px
  border-radius: 0
  transition: all .3s ease-in-out
  cursor: pointer
  +semibold

  &:hover
    background-color: #85cb18