.general-banner
  width: 720px
  text-align: center

  &__title
    color: #ffffff
    letter-spacing: -1.7px

    +m(1024)
      font-size: 35px

  &__subtitle
    margin-top: 15px
    margin-bottom: 38px
    font-size: 16px
    color: #ffffff

  +m(768)
    .search__form
      display: flex
      flex-direction: column

    .search__action
      margin-top: 10px
      width: 100%

    .btn.is-search
      width: 100%