.ico
  display: inline-block
  vertical-align: middle
  position: relative
  transition: all .3s ease-in-out

  &.is-arrow-down-right
    background: url('../img/ico_arrow_down_right.png')
    width: 60px
    height: 60px

  &.is-download
    background: url('../img/ico_download.png')no-repeat
    width: 29px
    height: 26px

  &.is-star
    background: url('../img/ico_star.png')no-repeat
    width: 12px
    height: 12px