.ico
  display: inline-block
  vertical-align: middle
  position: relative
  transition: all .3s ease-in-out

  //&.is-app
  //  background: url('../img/apps.svg')no-repeat
  //  width: 16px
  //  height: 16px
  //
  //&.is-game
  //  background: url('../img/game.svg')no-repeat
  //  width: 16px
  //  height: 16px
  //
  //&.is-rington
  //  background: url('../img/rington.svg')no-repeat
  //  width: 16px
  //  height: 16px
  //
  //&.is-post
  //  background: url('../img/post.svg')no-repeat
  //  width: 16px
  //  height: 16px
  //
  //&.is-search
  //  background: url('../img/ico_search.png')no-repeat
  //  width: 18px
  //  height: 18px
  //
  //&.is-search-white
  //  background: url('../img/search-white.png')no-repeat
  //  width: 18px
  //  height: 18px

  &.is-download
    background: url('../img/ico_download.png')no-repeat
    width: 29px
    height: 26px

  //&.is-android
  //  background: url('../img/android.svg')no-repeat
  //  width: 18px
  //  height: 18px
  //
  //&.is-windows
  //  background: url('../img/windows.svg')no-repeat
  //  width: 18px
  //  height: 18px
  //
  //&.is-apple
  //  background: url('../img/android.svg')no-repeat
  //  width: 18px
  //  height: 18px