.item
  display: flex
  align-items: center

  &__left
    margin-right: 20px
    max-width: 90px
    max-height: 90px

  &__right
    display: flex
    flex-direction: column
    margin-left: 20px

  &__img
    max-width: 90px
    max-height: 90px

  &__title
    margin-bottom: 10px
    font-size: 18px
    color: $text
    letter-spacing: -.5px
    +semibold

    &:hover
      text-decoration: underline

  &__btn
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0