.item
  display: flex
  align-items: center

  +m(480)
    flex-wrap: wrap

  &__left
    margin-right: 20px

  &__center
    +m(480)
      width: calc(100% - 78px)

  &__right
    display: flex
    flex-direction: column
    margin-left: 20px
    +m(480)
      width: 100%
      margin-left: 0
      margin-top: 20px

  &__icon
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 90px
    height: 90px
    +m(768)
      max-width: 80px
      max-height: 80px
    +m(480)
      max-width: 58px
      max-height: 58px

  &__img
    max-width: 90px
    max-height: 90px
    +m(768)
      max-width: 80px
      max-height: 80px
    +m(480)
      max-width: 58px
      max-height: 58px

  &__title
    margin-bottom: 10px
    font-size: 18px
    color: $text
    letter-spacing: -.5px
    +semibold
    +m(768)
      font-size: 16px

    &:hover
      text-decoration: underline

  &__descr
    +m(768)
      font-size: 12px

  &__btn
    margin-bottom: 10px
    +m(768)
      font-size: 13px

    &:last-child
      margin-bottom: 0