.container
  position: relative
  margin: 0 auto
  width: 1050px
  box-sizing: border-box

  +m(1200)
    width: 970px

  +m(1024)
    width: 750px
    padding: 0 20px

  +m(768)
    width: 100%

.main
  flex: 0 0 auto
  position: relative

.header
  min-height: 60px
  position: relative
  background: url('../img/backgr_main_page.png') right no-repeat
  background-size: cover

  &.is-main
    min-height: 380px

    &.search-opened
      margin-bottom: 0
      min-height: 420px

  &.search-opened
    margin-bottom: 40px
    .search.is-mobile
      display: block

  &__wrap
    display: flex
    flex-direction: column
    justify-content: space-between

    +m(768)
      .logo
        position: absolute
        top: 50%
        left: 50%
        z-index: 6
        +center

  &__top
    position: relative
    display: flex
    justify-content: space-between
    height: 60px

  &__bottom
    padding-top: 48px
    padding-bottom: 80px
    display: flex
    justify-content: center
    align-items: center

    +m(768)
      padding-top: 0
      padding-bottom: 22px

  &__left,
  &__right
    display: flex
    align-items: center

  &__left

  .hamburger
    display: none
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)

    +m(768)
      display: inline-block
      z-index: 6

  .search.is-small
    margin-left: 20px

  .mobile-search
    display: none

    +m(768)
      display: inline-block

  &.menu-service
    +m(1024)
      .nav__link
        font-size: 15px

        .icon
          font-size: 16px

      .search.is-small
        margin: 0 10px
        width: 170px


.footer
  border-top: 1px solid $border
  box-sizing: border-box

  &__wrap
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    align-content: center
    height: 89px

    +m(768)
      padding: 10px 0
      display: flex
      flex-direction: column

  &__center
    +m(768)
      margin: 4px 0 10px