.nav

  &__list
    display: flex
    flex-direction: row

  &__el
    margin-right: 30px

    &:last-child
      margin-right: 0

    +m(1200)
      margin-right: 15px

    +m(1024)
      margin-right: 10px

  &__link
    font-size: 16px
    letter-spacing: -.6px
    color: #ffffff
    +semibold

    &:hover,
    &:active
      color: #c9ee33

    .icon
      vertical-align: middle
      font-size: 18px

  &__name
    margin-left: 5px

  +m(768)
    display: none

  &.is-footer
    +m(768)
      display: block

    .nav
      &__el
        position: relative
        padding-right: 20px
        margin-right: 0

        &:after
          position: absolute
          content: ''
          top: 3px
          right: 9px
          width: 1px
          height: 13px
          background-color: #9ba1a4

        &:last-child
          padding-right: 0

          &:after
            display: none

      &__link
        font-size: 13px
        letter-spacing: -.2px
        color: $text
        text-transform: capitalize
        +regular

        &:hover
          opacity: .8
