.post
  margin-top: 10px

  &__top
    width: 100%

    +m(1024)
      margin-right: 15px
    +m(480)
      margin-right: 0

  &__top,
  &__bottom
    +m(1024)
      width: 50%
    +m(480)
      width: 100%

  &__img
    +m(480)
      width: 100%

  &__title
    font-size: 14px
    +semibold

  &__link
    color: $text

    +m(1024)
      display: flex
    +m(480)
      flex-direction: column

  &__descr
    margin-top: 10px

  &:hover
    .post__title
      text-decoration: underline