.ringtones

  &__list
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap

  &__el
    margin-bottom: 10px
    +m(1024)
      width: 31%

    +m(768)
      width: 49%