.search
  position: relative
  display: flex
  width: 100%
  cursor: text

  &__form
    display: flex
    flex-wrap: nowrap
    flex-direction: row
    align-items: center
    width: 100%

  &__input
    display: block
    padding-left: 45px
    padding-right: 20px
    width: 100%
    height: 50px
    line-height: 50px
    font-size: 15px
    color: #919191
    border: none
    letter-spacing: -.3px
    box-sizing: border-box
    transition: all .3s ease-in-out
    +regular

    &:focus
      outline: none

  &__ico
    position: absolute
    width: 18px
    top: 15px
    left: 14px

    .icon
      font-size: 17px

  &.is-small
    position: relative
    width: 220px

    &:hover
      .search__input
        padding: 0 10px
        width: calc(100% - 30px)

      .search__btn
        background-color: $btnGreen

    .search__input
      padding: 0
      width: 0
      height: 30px
      line-height: 30px

      &:focus
        padding: 0 10px
        width: calc(100% - 30px)

      &:focus ~ .search__btn
        background-color: $btnGreen

    .search__btn
      padding: 0
      width: 30px
      height: 30px
      line-height: 36px
      border: none
      background-color: transparent
      box-sizing: border-box
      cursor: pointer

      .icon
        color: #fff
        font-size: 18px

    +m(768)
      display: none

  &.is-mobile
    display: none
    +m(768)
      width: calc(100% + 40px)
      margin-left: -20px

    .search__form
      box-sizing: border-box

    .search__input
      padding-left: 15px
      padding-right: 20px
      height: 40px
      line-height: 40px

    .btn
      height: 40px
      line-height: 40px
      min-width: 84px
      font-size: 13px

    &.is-visible
      display: block

input[type=text],
input[type=search]
  border-radius: 0