.software
  margin-bottom: 20px

  &__top,
  &__center
    margin-bottom: 10px
    padding-bottom: 10px
    border-bottom: 1px solid $border

  &__link
    display: flex
    justify-content: center
    align-items: center
    font-size: 14px
    img
      width: 20px
      margin-right: 10px