.software-info
  margin-bottom: 10px
  padding-bottom: 10px
  border-bottom: 1px solid $border

  &__link
    color: $text

    &:hover
      text-decoration: underline

  dl
    display: flex
    color: #919090
    text-transform: uppercase

  dd
    margin-left: 6px
    color: $text
    +semibold