.version
  display: flex
  flex-direction: row
  justify-content: space-between

  &__left
    display: flex
    align-items: center

  &__img
    width: 40px

  &__name
    margin-left: 15px
    font-size: 16px
    color: $text

  &__icon
    font-size: 18px
    color: $text