<footer class='footer'>
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__left">
        <div class="logo">
          <a href="#" class="logo__link">
            <img src="../img/logo_foot.svg" alt="logo-JelloApps" class="logo__img">
          </a>
        </div>
      </div>
      <div class="footer__center">
        <div class="copyright">© 2018 JelloApps.com. All rights reserved.</div>
      </div>
      <div class="footer__right">
        <nav class="nav is-footer">
          <ul class="nav__list">
            <li class="nav__el">
              <a href="#" class="nav__link">Home</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Contact Us</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Privacy</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Policy</a>
            </li>
          </ul>
        </nav>
      </div>
    </div><!-- end footer__wrap -->
  </div><!-- end container -->
</footer>
