<header class="header">
  <div class="header__bg"></div>
  <div class="container">
    <div class="header__wrap">
      <div class="header__top">
        <div class="header__left">
          <div class="logo">
            <a href="#" class="logo__link">
              <img src="../img/logo_head.svg" alt="logo-JelloApps" class="logo__img">
            </a>
          </div>
        </div>
        <div class="header__right">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="ico is-app"></span>
                  <span class="nav__name">Apps</span>
                </a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="ico is-game"></span>
                  Games
                </a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="ico is-rington"></span>
                  Ringtons
                </a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="ico is-post"></span>
                  Posts
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>