<div class="mobile-menu">
  <div class="mobile-menu__top"></div>
  <div class="mobile-menu__bottom">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">
          <span class="icon icon-apps"></span>
          <span class="mobile-menu__name">Home</span>
        </a>
      </li>
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">
          <span class="icon icon-apps"></span>
          <span class="mobile-menu__name">Apps</span>
        </a>
      </li>
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">
          <span class="icon icon-game"></span>
          <span class="mobile-menu__name">Games</span>
        </a>
      </li>
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">
          <span class="icon icon-rington"></span>
          <span class="mobile-menu__name">Ringtons</span>
        </a>
      </li>
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">
          <span class="icon icon-post"></span>
          <span class="mobile-menu__name">Posts</span>
        </a>
      </li>
    </ul>
  </div>
</div><!-- end mobile-menu -->

<header class="header">
  <div class="header__bg"></div>
  <div class="container">
    <div class="header__wrap">
      <div class="header__top">
        <div class="header__left">
          <div class="hamburger" id="hamburger">
            <span class="hamburger__el"></span>
            <span class="hamburger__el"></span>
            <span class="hamburger__el"></span>
          </div>
          <div class="logo">
            <a href="#" class="logo__link">
              <img src="img/logo_head.svg" alt="logo-JelloApps" class="logo__img">
            </a>
          </div>
          <div class="search is-small i-ml-20">
            <form class="search__form" action="#">
              <input class="search__input"
                     type="text"
                     placeholder="Find any apps">
              <button type="submit" class="search__btn">
                <span class="icon icon-search"></span>
              </button>
            </form>
          </div><!-- end search -->
        </div>
        <div class="header__right">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="icon icon-apps"></span>
                  <span class="nav__name">Apps</span>
                </a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="icon icon-game"></span>
                  <span class="nav__name">Games</span>
                </a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="icon icon-rington"></span>
                  <span class="nav__name">Ringtons</span>
                </a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="icon icon-post"></span>
                  <span class="nav__name">Posts</span>
                </a>
              </li>
            </ul>
          </nav>
          <button class="btn mobile-search" id="btn-search-mobile" type="button">
            <span class="icon icon-search"></span>
          </button>
        </div>
      </div>
      <div class="search is-mobile is-visible" id="search-mobile">
        <form class="search__form" action="#">
          <input class="search__input"
                 type="text"
                 placeholder="Find any apps">
          <div class="search__action">
            <button class="btn is-search" type="button">
              Search
            </button>
          </div>
        </form>
      </div>
      <div class="header__bottom">
        <div class="general-banner">
          <h1 class="general-banner__title">Best Apps & Games Collection</h1>
          <p class="general-banner__subtitle">App Downloads for Android, iOS & Windows Phone</p>
          <div class="search js-search">
            <form class="search__form" action="#">
                <span class="search__ico">
                  <i class="icon icon-search"></i>
                </span>
              <input class="search__input js-input"
                     type="text"
                     placeholder="Find any apps">
              <div class="search__action">
                <button class="btn is-search" type="button">
                  Search
                </button>
              </div>
              <div class="search-drop js-search-results">
                <div class="search-drop__head">
                  <a href="#">See all results...</a>
                </div>
                <div class="result">
                  <div class="result__title">Not found</div>
                </div>
              </div>
              <div class="search-drop js-search-results">
                <div class="search-drop__head">
                  <a href="#">See all results...</a>
                </div>
                <div class="result">
                  <div class="result__title">
                    <i class="ico is-star"></i>Top results
                  </div>
                  <div class="result__links">
                    <a href="#" class="result__link">
                      <span class="result__name">Zedge</span>
                    </a>
                    <a href="#" class="result__link">
                      <span class="result__name">Snaptube</span>
                    </a>
                    <a href="#" class="result__link">
                      <span class="result__name">Youtube</span>
                    </a>
                    <a href="#" class="result__link">
                      <span class="result__name">Amazon Alexa</span>
                    </a>
                    <a href="#" class="result__link">
                      <span class="result__name">Google</span>
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div><!-- end search -->
        </div>
      </div>
    </div><!-- end header__wrap -->
  </div><!-- end container -->
</header>