<header class="header">
  <div class="header__bg"></div>
  <div class="container">
    <div class="header__wrap">
      <div class="header__top">
        <div class="header__left">
          <div class="logo">
            <a href="#" class="logo__link">
              <img src="img/logo_head.svg" alt="logo-JelloApps" class="logo__img">
            </a>
          </div>
          <div class="search is-small i-ml-20">
            <form class="search__form" action="#">
              <input class="search__input"
                     type="text"
                     placeholder="Find any apps">
              <button type="submit" class="search__btn">
                <span class="icon icon-search"></span>
              </button>
            </form>
          </div><!-- end search -->
        </div>
        <div class="header__right">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="icon icon-apps"></span>
                  <span class="nav__name">Apps</span>
                </a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="icon icon-game"></span>
                  Games
                </a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="icon icon-rington"></span>
                  Ringtons
                </a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">
                  <span class="icon icon-post"></span>
                  Posts
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>