<div class="more-info">
  <div class="container">
    <h2>Want more stats and info?</h2>
    <p>For further information and individual ideas about advertising on ZelloApps.com, please email us: advertise at ZelloApps.com.</p>
    <div class="more-info__wrap">
      <form class="more-info__form" action="#">
        <div class="more-info__list">
          <div class="more-info__el col-6">
            <div class="field">
              <input class="field__input" type="text" placeholder="Your name">
            </div>
          </div>
          <div class="more-info__el col-6">
            <div class="field">
              <input class="field__input" type="text" placeholder="Your email">
            </div>
          </div>
          <div class="more-info__el">
            <div class="field">
              <textarea class="field__area" placeholder="Your message"></textarea>
            </div>
          </div>
        </div>
        <div class="more-info__action">
          <div class="agree">
            <label class="agree__label">
              <input type="checkbox" checked>
              <span></span>
            </label>
            <span>I have read and agree to the <a href="#">Privacy Policy</a></span>
          </div>
          <button type="submit">Send</button>
        </div>
      </form>
      <div class="contact-details">
        <span class="contact-details__title">Contact Details</span>
        <span class="contact-details__text">18-21 Morley St, South Bank, London SE1 7QZ</span>
        <a class="contact-details__mail" href="mailto:support@zelloapp.com">
          <span class="ico is-mail"></span>
          <span>support@zelloapp.com</span>
        </a>
      </div>
    </div>
  </div>
</div><!-- end more-info -->